name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start
        run: echo "Deployment started by Mbogning Kouemetio Alex"

      - name: Show Secret
        run: echo "Token = ${{ secrets.DEPLOY_TOKEN }}"

      - name: End
        run: echo "Deployment finished"